; SolarFlares

22    ; no. entradas
2      ; no. salidas

; tipos entradas
REAL REAL REAL REAL REAL REAL REAL REAL REAL REAL 
REAL REAL REAL REAL REAL REAL REAL REAL REAL REAL 
REAL REAL

STANDARD       ; tipo preproceso
CLASSIF        ; tipo aprendizaje
CROSS-ENTROPY  ; tipo errorFun 
; Fin de fichero